.Topbar{
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 9%;
    width: 81.9%;


    .logo{
        display: flex;
        align-items: center;
        width: 360px;
        justify-content: flex-start;
        color: #000000d1;
        font-family: system-ui;
        font-size: 26px;
        font-weight: 700;

    }
    .sosial-links{
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            border: 1px solid #00000063;
            color: #000000d1;
            border-radius: 50%;
            margin-right: 5px;
            padding: 5px 11px 10px 11px;
            font-size: 14px;
            margin-right: 7px;

        }

    }
    .email{

        display: flex;
        align-items: center;
        width: 360px;
        justify-content: flex-end;
        font-weight: 400;
        color: #000000b0;
        font-family: sans-serif;
    }
}